/* 首页主要的内容开始 */
.main-page {
  background: #f5f5f5;
  height: 1500px;
}

/* 中间广告 */
.main-banner-box {
  position: relative;
  height: 120px;
  top: 25px;
}

/*手机展示区*/
.main-page .box-ph {
  margin: 40px 0 0 0;
  position: relative;
  height: 58px;
}

.box-ph .title {
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: var(--black);
  background: #f5f5f5;
}

.box-ph .more {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px 0 0 0;
}

.more a {
  color: #333;
  display: block;
  font-size: 22px;
  font-weight: 200;
  transition: all 0.4s;
}

.more a span {
  padding-left: 10px;
  margin-left: 10px;
  font-size: 28px;
  vertical-align: -2px;
}
/* 销售展示区 */
.app-banner {
  width: 1244px;
  height: 614px;
  margin: 20px auto;
}
.app-up a:hover {
  box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
  transform: translate3d(0, -2px, 0);
  transition: 0.3s linear;
}
.app-left {
  float: left;
}

.app-left ul {
  height: 614px;
  width: 234px;
}

.app-left li a {
  display: block;
  width: 100%;
  height: 100%;
}

.app-right ul {
  width: 1010px;
  height: 614px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
}

.app-right li {
  width: 230px;
  height: 300px;
}

.app-right li a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--pureWhite);
  text-align: center;
}

.title {
  color: #333;
  background-color: var(--pureWhite);
  font-size: 14px;
  font-weight: 400;
  margin: 5px;
}

.intro {
  margin: 10px;
  font-size: 12px;
  color: #b0b0b0;
  background-color: var(--pureWhite);
}

.price {
  margin: 10px;
  text-align: center;
  color: var(--red);
  background-color: var(--pureWhite);
}
/* 首页主要的内容结束 */
